<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yifandroid.wizdroids"
          android:versionCode="2"
          android:versionName="2.0">

    <uses-sdk
            android:minSdkVersion="8"
            android:targetSdkVersion="15"/>

    <application
            android:icon="@drawable/wizdroid"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:name=".WizdroidApplication">
        <activity
                android:name=".WizDroidActivity"
                android:launchMode="singleInstance"
                android:label="@string/title_activity_wizdroid_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".WizMediaActionReceiver">
            <intent-filter android:priority="10000">
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver android:process=":remote" android:name=".WizAlarmReceiver"></receiver>

        <receiver android:name=".WizWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_DELETED" />
                <action android:name="android.appwidget.action.APPWIDGET_DISABLED" />
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/wiz_widget_info" />
        </receiver>

    </application>

</manifest>